<a href="/Abilities/{{questId}}">
    <div class="card ability">
        <div class="title">
            {{abilityName}}
        </div>
        <div class="description">
            {{abilityDesc}}
        </div>
    </div>
</a>