<div class="form_card jsp-global-light-backgroundColor"><form id="add_new_ability">
    <div class="new add title ability">
        New Ability
    </div>
    <div class="new add animate-background-gradient jsp-ability-dark-textColor" data-jsp-palette="ability">
        <label for="ability-abilityName">Ability Name:</label>
        <br>
        <input type="text" id="ability-abilityName" placeholder="{{placeholder}}">
    </div>

    <div class="new add animate-background-gradient jsp-ability-dark-textColor" data-jsp-palette="ability">
        <label for="ability-abilityDesc">Ability Description:</label>
        <br>
        <textarea id="ability-abilityDesc"></textarea>
    </div>
</form></div>