{{#unless view}}<a href="/Abilities/view/{{abilityId}}">{{/unless}}
    <div class="card ability jsp-ability-light-backgroundColor jsp-ability-light-thickerBorderColor {{#if view}}full static{{/if}}">
        <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="ability">
            {{abilityName}}
        </div>
        <div class="description jsp-ability-dark-textColor">
            {{abilityDesc}}
        </div>
    </div>
{{#unless view}}</a>{{/unless}}