<div class="form_card"><form id="add_new_ability">
    <div class="new add title loot">
        New Loot Item
    </div>
    <div class="new add animate-background-gradient">
        <label for="lootItem-lootName">Loot Item Name:</label>
        <br>
        <input type="text" id="lootItem-lootName" placeholder="{{placeholderItemName}}">
    </div>

    <div class="new add animate-background-gradient">
        <label for="lootItem-lootDesc">Loot Item Description:</label>
        <br>
        <textarea id="lootItem-lootDesc"></textarea>
    </div>

    <div class="new add animate-background-gradient">
        <label for="lootItem-lootItemTypeName">Loot Item Type:</label>
        <br>
        <input list="lootItem-lootItemTypeNames-list" id="lootItem-lootItemTypeName" name="lootItem-lootItemTypeName">
        <datalist id="lootItem-lootItemTypeNames-list">
            {{#each lootItemTypes}}
                <option value="{{lootItemTypeName}}">{{#if equipable}}Equipable{{/if}}</option>
            {{/each}}
        </datalist>
    </div>

    <div class="new add animate-background-gradient">
        <label for="lootItem-lootValue">Loot Value (gold):</label>
        <br>
        <input type="number" min="0" placeholder="1" id="lootItem-lootValue">
    </div>
</form></div>