<div class="form_card jsp-global-light-backgroundColor"><form action="/createEntity" method="POST" id="add_new_loot_item">
    <div class="new add title loot">
        New Loot Item
    </div>
    <input hidden id="entity" name="entity" value="lootItem"></input>
    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="lootName">Loot Item Name:</label>
        <br>
        <input type="text" id="lootName" name="lootName" placeholder="{{placeholderItemName}}">
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="lootDesc">Loot Item Description:</label>
        <br>
        <textarea id="lootDesc" name="lootDesc"></textarea>
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="lootItemTypeName">Loot Item Type:</label>
        <br>
        <select id="lootItemTypeNames-list" name="lootItemTypeId">
            {{#each lootItemTypes}}
                <option value="{{lootItemTypeId}}">{{lootItemTypeName}}{{#if equipable}} (Equipable){{/if}}</option>
            {{/each}}
        </select>
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="lootValue">Loot Value (gold):</label>
        <br>
        <input type="number" min="0" placeholder="1" id="lootValue" name="lootValue">
    </div>
    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot" value="Submit">
        <button type="submit" value="Submit">Submit</button>
    </div>
</form></div>