{{#unless view}}<a href="/LootItemTypes/view/{{lootItemTypeId}}">{{/unless}}
    <div class="card ability {{#if view}}full static{{/if}}">
        <div class="title">
            {{lootItemTypeName}}
        </div>
        <div class="description">
            {{#if equipable}} Equipable
            {{else}} Not equipable
            {{/if}}
        </div>
        <div>Edit</div>
        <form action="/delete/LootItemType" method="post">
            <input type="hidden" name="lootItemTypeId" value="{{lootItemTypeId}}"> 
            <button name="delete-lootitemtype" value="delete">Delete</button>
        </form>
    </div>
{{#unless view}}</a>{{/unless}}