{{#unless view}}<a href="/LootItems/view/{{lootId}}">{{/unless}}
    <div class="card loot jsp-loot-light-backgroundColor jsp-loot-light-thickerBorderColor {{#if view}}full static{{/if}}">
        <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="loot">
            {{lootName}} {{#unless view}}({{lootValue}} gold){{/unless}}
        </div>
        <div class="description jsp-quest-dark-textColor">
            {{lootDesc}}
        </div>
    </div>
{{#unless view}}</a>{{/unless}}