{{#unless view}}<a href="/LootItems/{{questId}}">{{/unless}}
    <div class="card loot {{# if view}}full static{{/if}}">
        <div class="title">
            {{lootName}} ({{lootValue}} gold)
        </div>
        <div class="description">
            {{lootDesc}}
        </div>
    </div>
{{#unless view}}</a>{{/unless}}