<div class="form_card jsp-global-light-backgroundColor"><form action="/submit/LootItemType" method="POST" id="add_new_loot_item_type">
    <div class="new add title lootItemType">
        New Loot Item Type
    </div>
    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="lootItemType-lootItemTypeName">Loot Item Type Name:</label>
        <br>
        <input name="lootItemTypeName" type="text" id="lootItemType-lootItemTypeName" placeholder="{{placeholder}}">
    </div>
        <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="lootItemType-equipable">Equipable:</label>
        <br>
        <select name="equipable" type="select" id="lootItemType-equipable">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>
    <div class="new add animate-background-gradient" value="Submit">
        <button type="submit" value="Submit">Submit</button>
    </div>
</form></div>