<a href="/LootItems/{{lootId}}">
    <div class="card loot">
        <div class="title">
            {{lootName}} ({{lootValue}} gold)
        </div>
        <div class="description">
            {{lootDesc}}
        </div>
    </div>
</a>