{{#unless view}}<a href="/LootItemTypes/view/{{lootItemTypeId}}">{{/unless}}
    <div class="card ability {{#if view}}full static{{/if}}">
        <div class="title">
            {{lootItemTypeName}}
        </div>
        <div class="description">
            {{#if equipable}} Equipable
            {{else}} Not equipable
            {{/if}}
        </div>
    </div>
{{#unless view}}</a>{{/unless}}