<div class="form_card jsp-global-light-backgroundColor"><form action="/createEntity" method="POST" id="add_new_monster">
    <div class="new add title monster">
        New Monster
    </div>
    <input hidden id="entity" name="entity" value="monster"></input>
    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
        <label for="monsterName">Monster Name:</label>
        <br>
        <input type="text" id="monsterName" name="monsterName" placeholder="{{placeholderMonsterName}}">
    </div>

    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
        <label for="monsterDesc">Monster Description:</label>
        <br>
        <textarea id="monsterDesc" name="monsterDesc"></textarea>
    </div>

    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
        <label for="monsterTypeId">Monster Type:</label>
        <br>
        <select id="monster-types-list" name="monsterTypeId">
            {{#each monsterTypes}}
            <option value="{{monsterTypeId}}">{{monsterTypeName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form_section">
        <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
            <label for="healthPool">Health Pool:</label>
            <br>
            <input type="number" min="1" max="100" placeholder="1" id="healthPool" name="healthPool">
        </div>
        <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
            <label for="attack">Attack:</label>
            <br>
            <input type="number" min="1" max="100" placeholder="1" id="attack" name="attack">
        </div>
        <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
            <label for="defense">Defense:</label>
            <br>
            <input type="number" min="1" max="100" placeholder="1" id="defense" name="defense">
        </div>
        <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
            <label for="speed">Speed:</label>
            <br>
            <input type="number" min="1" max="100" placeholder="1" id="speed" name="speed">
        </div>
    </div>
    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster" value="Submit">
        <button type="submit" value="Submit">Submit</button>
    </div>
</form>

</div>

<!--<div id="addAbilityForm" class="add ability title add_form jsp-ability-medium-backgroundColor jsp-ability-light-thickerBorderColor"> + </div>-->
<!--<div id="addLootItemForm" class="add loot title add_form jsp-loot-medium-backgroundColor jsp-loot-light-thickerBorderColor"> + </div>-->