<div class="form_card jsp-global-light-backgroundColor"><form id="add_new_monster_loot_item">
    <div class="new add title monsterLootItem">
        Assign Loot Item to Monster
    </div>
    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
        <label for="monsterLootItem-monsterName">Monster Name:</label>
        <br>
        <input type="text" id="monsterLootItem-monsterName" placeholder="{{placeholderMonsterName}}">
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="monsterLootItem-lootItemName">Loot Item Name:</label>
        <br>
        <input type="text" id="monsterLootItem-lootItemName" placeholder="Gold Necklace"></textarea>
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="monsterLootItem-dropQuantity">Drop Quantity:</label>
        <br>
        <input type="number" min="1" id="monsterLootItem-dropQuantity" name="monsterAbilitydropQuantity">
    </div>

    <div class="new add animate-background-gradient jsp-loot-dark-textColor" data-jsp-palette="loot">
        <label for="monsterLootItem-dropChance">Drop Chance (decimal):</label>
        <br>
        <input type="number" max="1" min="0.001" step="0.001" id="monsterLootItem-dropChance" name="monsterAbility-dropChance">
    </div>
</form>

</div>