<div class="form_card jsp-global-light-backgroundColor"><form id="add_new_quest_giver">
    <div class="new add title monsterType">
        New Monster Type
    </div>
    <div class="new add animate-background-gradient jsp-monster-dark-textColor" data-jsp-palette="monster">
        <label for="monsterType-monsterTypeName">Monster Type Name:</label>
        <br>
        <input type="text" id="monsterType-monsterTypeName" placeholder="Undead">
    </div>
</form></div>