<a href="{{href_new}}">
    <div class="card new jsp-new-light-backgroundColor jsp-new-light-thickerBorderColor">
        <div class="title animate-background-gradient jsp-global-black-textColor" data-jsp-palette="new">
            {{entityName}}
        </div>
        <div class="description jsp-new-dark-textColor">
            Click to Add a New {{entityName}}
        </div>
    </div>
</a>