{{#unless view}}<a href="/QuestGivers/view/{{questGiverId}}">{{/unless}}
    <div class="card questGiver {{#if view}}full static{{/if}}">
        <div class="title">
            {{questGiverName}}
        </div>
    </div>
{{#unless view}}</a>{{/unless}}