<div class="form_card jsp-global-light-backgroundColor"><form id="add_new_quest_giver">
    <div class="new add title questGiver">
        New Quest Giver
    </div>
    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
        <label for="questGiver-questGiverName">Quest Giver Name:</label>
        <br>
        <input type="text" id="questGiver-questGiverName" placeholder="{{placeholderQuestGiverName}}">
    </div>
</form></div>