<div class="form_card jsp-global-light-backgroundColor"><form action="/createEntity" method="POST" id="add_new_quest_giver">
    <div class="new add title questGiver">
        New Quest Giver
    </div>
    <input hidden id="entity" name="entity" value="questGiver"></input>
    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest">
        <label for="questGiverName">Quest Giver Name:</label>
        <br>
        <input type="text" id="questGiverName" name="questGiverName" placeholder="{{placeholderQuestGiverName}}">
    </div>
    <div class="new add animate-background-gradient jsp-quest-dark-textColor" data-jsp-palette="quest" value="Submit">
        <button type="submit" value="Submit">Submit</button>
    </div>
</form></div>