<div class="form_card"><form id="add_new_quest_giver">
    <div class="new add title questGiver">
        New Quest Giver
    </div>
    <div class="new add background-gradient">
        <label for="questGiver-questGiverName">Quest Giver Name:</label>
        <br>
        <input type="text" id="questGiver-questGiverName" placeholder="Farmer John">
    </div>
</form></div>