<a href="/Quests/{{questId}}">
<div class="card quest">
    <div class="title">
        {{questName}} {{#if available}}(!){{/if}}
    </div>
    <div class="description">
        {{questDesc}}
    </div>
    <div class="giver">
        - Quest Giver
    </div>
</div>
</a>