<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tosh's Table of Tasks and Torments</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/style.js" defer></script>
    <script src="/ux.js" defer></script>
    <script>
        let addAbilitiesForm = function ()
        {
            let new_element = document.createElement("a")
            new_element.innerHTML = `{{> AbilitiesFormNew}}`

            document.getElementById("abilities_column").appendChild(new_element)
        }

        let addLootItemsForm = function ()
        {
            let new_element = document.createElement("a")
            new_element.innerHTML = `{{> LootItemsFormNew}}`

            document.getElementById("lootItems_column").appendChild(new_element)
        }
    </script>
</head>
<body>

<a href="/"><div id="logo_container" class="fadeout-gradient">
    <div class="logo text-gradient">Tosh's Table of Tasks and Torments</div>
</div></a>

<div id="nav_container" class="fadeout-gradient">
    <a href="/Quests/new"><div class="nav new background-gradient">Create a new quest</div></a>
    <a href="/QuestGivers/new"><div class="nav new background-gradient">Create a new quest giver</div></a>
    <a href="/Monsters/new"><div class="nav new background-gradient">Create a new monster</div></a>
    <a href="/MonsterTypes/new"><div class="nav new background-gradient">Create a new monster type</div></a>
    <a href="/LootItems/new"><div class="nav new background-gradient">Create a new loot item</div></a>
    <a href="/LootItemTypes/new"><div class="nav new background-gradient">Create a new loot item type</div></a>
    <a href="/Abilities/new"><div class="nav new background-gradient">Create a new ability</div></a>

    <a href="/Monsters_Abilities/document"><div class="nav document background-gradient">Document monster abilities</div></a>
    <a href="/Monsters_LootItems/document"><div class="nav document background-gradient">Document monster loot</div></a>

    <a href="/Quests/view"><div class="nav view background-gradient">View all quests</div></a>
    <a href="/Monsters/view"><div class="nav view background-gradient">View all monsters</div></a>
    <a href="/LootItems/view"><div class="nav view background-gradient">View all loot items</div></a>
    <a href="/Abilities/view"><div class="nav view background-gradient">View all abilities</div></a>
</div>

{{{body}}}

<div id="modal_animationSwitch" class="new nav background-gradient">
    Animations <input type="checkbox" id="animationSwitch" checked>
</div>

</body>
</html>