<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tosh's Table of Tasks and Torments</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/style.js" defer></script>
    <script src="/ux.js" defer></script>
    <script>
        let addAbilitiesForm = function ()
        {
            let new_element = document.createElement("a")
            new_element.innerHTML = `{{> AbilitiesFormNew}}`

            document.getElementById("abilities_column").appendChild(new_element)
        }

        let addLootItemsForm = function ()
        {
            let new_element = document.createElement("a")
            new_element.innerHTML = `{{> LootItemsFormNew}}`

            document.getElementById("lootItems_column").appendChild(new_element)
        }
    </script>
</head>
<body>

<a href="/"><div id="logo_container" class="fadeout-gradient">
    <div class="logo text-gradient">Tosh's Table of Tasks and Torments</div>
</div></a>

<div id="nav_container" class="fadeout-gradient">
    <a href="/Quests/new"><div class="nav new background-gradient">Quest +</div></a>
    <a href="/QuestGivers/new"><div class="nav new background-gradient">Quest giver +</div></a>
    <a href="/Monsters/new"><div class="nav new background-gradient">Monster +</div></a>
    <a href="/MonsterTypes/new"><div class="nav new background-gradient">Monster type +</div></a>
    <a href="/LootItems/new"><div class="nav new background-gradient">Loot item +</div></a>
    <a href="/LootItemTypes/new"><div class="nav new background-gradient">Loot item type +</div></a>
    <a href="/Abilities/new"><div class="nav new background-gradient">Ability +</div></a>
    <a href="/MonstersAbilities/new"><div class="nav new background-gradient">Monster ability +</div></a>
    <a href="/MonstersLootItems/new"><div class="nav new background-gradient">Monster loot +</div></a>

    <a href="/Quests/view"><div class="nav view background-gradient">View quests</div></a>
    <a href="/QuestGivers/view"><div class="nav view background-gradient">View quest givers</div></a>
    <a href="/Monsters/view"><div class="nav view background-gradient">View monsters</div></a>
    <a href="/MonsterTypes/view"><div class="nav view background-gradient">View monster types</div></a>
    <a href="/LootItems/view"><div class="nav view background-gradient">View loot items</div></a>
    <a href="/LootItemTypes/view"><div class="nav view background-gradient">View loot item types</div></a>
    <a href="/Abilities/view"><div class="nav view background-gradient">View abilities</div></a>
    <a href="/MonstersAbilities/view"><div class="nav view background-gradient">View monster abilities</div></a>
    <a href="/MonstersLootItems/view"><div class="nav view background-gradient">View monster loot items</div></a>
</div>

{{{body}}}

<div id="modal_animationSwitch" class="new nav background-gradient">
    Animations <input type="checkbox" id="animationSwitch" checked>
</div>

</body>
</html>