<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tosh's Table of Tasks and Torments</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<a href="/Quests/new"><span class="nav new">Create a new quest</span></a>
<a href="/Monsters/new"><span class="nav new">Create a new monster</span></a>
<a href="/LootItems/new"><span class="nav new">Create a new loot item</span></a>
<a href="/Abilities/new"><span class="nav new">Create a new ability</span></a>

<a href="/Quests/view"><span class="nav view">View all quests</span></a>
<a href="/Monsters/view"><span class="nav view">View all monsters</span></a>
<a href="/LootItems/view"><span class="nav view">View all loot items</span></a>
<a href="/Abilities/view"><span class="nav view">View all abilities</span></a>

{{{body}}}

</body>
</html>