<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tosh's Table of Tasks and Torments</title>
    <link rel="stylesheet" href="/jsp.css">
    <link rel="stylesheet" href="/main.css">
    <script src="/jsp.js" defer></script>
    <script src="/style.js" defer></script>
    <script src="/ux.js" defer></script>
    <script src="/ENTITIES.js"></script>
    <script>
<!--        TODO place this AND ux.js only in the appropriate pages     -->
        let addAbilitiesForm = function ()
        {
            let new_element = document.createElement("a")
            new_element.innerHTML = `{{> AbilitiesFormNew}}`

            document.getElementById("abilities_column").appendChild(new_element)
        }

        let addLootItemsForm = function ()
        {
            let new_element = document.createElement("a")
            new_element.innerHTML = `{{> LootItemsFormNew}}`

            document.getElementById("lootItems_column").appendChild(new_element)
        }
    </script>
</head>
<body class="jsp-global-medium-backgroundColor">

<a href="/"><div id="logo_container" class="fadeout-gradient">
    <div class="animate-text-gradient jsp-logo-medium-textColor" data-jsp-palette="logo">Tosh's Table of Tasks and Torments</div>
</div></a>


{{{body}}}


<div id="nav_container" class="jsp-global-black-backgroundColor">

    <div class="collapse-container quest">
        <a href="/Quests/view"><div class="nav animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Quests</div></a>
        <a href="/QuestGivers/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Quest Givers</div></a>

        <a href="/Quests/new"><div class="nav hidden collapse-target animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Quest</div></a>
        <a href="/QuestGivers/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Quest Giver</div></a>

    </div>
    <div class="collapse-container monster">
        <a href="/Monsters/view"><div class="nav animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monsters</div></a>
        <a href="/MonsterTypes/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monster Types</div></a>
        <a href="/MonstersAbilities/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monsters' Abilities</div></a>
        <a href="/MonstersLootItems/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monsters' Loot Items</div></a>

        <a href="/Monsters/new"><div class="nav hidden collapse-target animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Add Monster</div></a>
        <a href="/MonsterTypes/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Add Monster Type</div></a>
        <a href="/MonstersAbilities/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Assign Ability to Monster</div></a>
        <a href="/MonstersLootItems/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Add Loot Drop to Monster</div></a>

    </div>
    <div class="collapse-container loot">
        <a href="/LootItems/view"><div class="nav animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View loot items</div></a>
        <a href="/LootItemTypes/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View loot item types</div></a>
        <a href="/MonstersLootItems/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monsters' Loot Items</div></a>

        <a href="/LootItems/new"><div class="nav hidden collapse-target animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Loot Item</div></a>
        <a href="/LootItemTypes/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Loot Item Type</div></a>
        <a href="/MonstersLootItems/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Add Loot Drop to Monster</div></a>

    </div>
    <div class="collapse-container ability">
        <a href="/Abilities/view"><div class="nav animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Abilities</div></a>
        <a href="/MonstersAbilities/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monsters' Abilities</div></a>

        <a href="/Abilities/new"><div class="nav hidden collapse-target animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Ability</div></a>
        <a href="/MonstersAbilities/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Assign Ability to Monster</div></a>

    </div>
    <!--    -->
    <!--    -->
    <!--    <a href="/Quests/new"><div class="nav animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Quest</div></a>-->
    <!--    <a href="/Monsters/new"><div class="nav animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Add Monster</div></a>-->
    <!--    <a href="/LootItems/new"><div class="nav animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Loot Item</div></a>-->
    <!--    <a href="/Abilities/new"><div class="nav animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Ability</div></a>-->

    <!--    <div id="collapse_new">-->
    <!--        <div class="nav view collapsing  jsp-new-light-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">...</div>-->
    <!--        <a href="/QuestGivers/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Quest Giver</div></a>-->
    <!--        <a href="/MonsterTypes/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Add Monster Type</div></a>-->
    <!--        <a href="/LootItemTypes/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">New Loot Item Type</div></a>-->
    <!--        <a href="/MonstersAbilities/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Assign Ability to Monster</div></a>-->
    <!--        <a href="/MonstersLootItems/new"><div class="hidden nav collapse-target new animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor" data-jsp-palette="new">Add Loot Drop to Monster</div></a>-->
    <!--    </div>-->

    <!--    <a href="/Quests/view"><div class="nav animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Quests</div></a>-->
    <!--    <a href="/Monsters/view"><div class="nav animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monsters</div></a>-->
    <!--    <a href="/LootItems/view"><div class="nav animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View loot items</div></a>-->
    <!--    <a href="/Abilities/view"><div class="nav animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Abilities</div></a>-->

    <!--    <div id="collapse_view">-->
    <!--        <div class="nav new collapsing  jsp-view-light-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">...</div>-->
    <!--        <a href="/QuestGivers/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Quest Givers</div></a>-->
    <!--        <a href="/MonsterTypes/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monster Types</div></a>-->
    <!--        <a href="/LootItemTypes/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View loot item types</div></a>-->
    <!--        <a href="/MonstersAbilities/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monsters' Abilities</div></a>-->
    <!--        <a href="/MonstersLootItems/view"><div class="hidden nav collapse-target view animate-background-gradient jsp-view-medium-backgroundColor jsp-view-dark-textColor" data-jsp-palette="view">View Monsters' Loot Items</div></a>-->
    <!--    </div>-->
</div>

<div id="modal_animationSwitch" class="nav animate-background-gradient jsp-new-medium-backgroundColor jsp-new-dark-textColor jsp-new-dark-thinBorderColor" data-jsp-palette="new">
    Animations <input type="checkbox" id="animationSwitch" checked>
</div>

</body>
</html>