<h1>Available Quests</h1>
<ul>
    {{#each results}}
        <li>
        <strong>{{monsterName}}</strong> - {{monsterDesc}}
        </li>
    {{/each}}
</ul>

<a href="./quest/new.html"><h2>Create a new quest</h2></a>
<a href="./monster/new.html"><h2>Create a new monster</h2></a>
<a href="./loot/new.html"><h2>Create a new loot item</h2></a>
<a href="./ability/new.html"><h2>Create a new ability</h2></a>

<a href="./quests.html"><h2>View all quests</h2></a>
<a href="./monsters.html"><h2>View all monsters</h2></a>
<a href="./loots.html"><h2>View all loot items</h2></a>
<a href="./abilities.html"><h2>View all abilities</h2></a>