<div id="page_title" class="fadeout-gradient jsp-global-light-textColor">
    Add a New Ability
</div>

<div id="forms_container">
    <div class="form_column">
        {{> AbilitiesFormNew}}
    </div>
</div>
