<h1>Add a new ability</h1>

<form>
    <label for="ability-abilityName">Ability Name:</label>
    <input type="text" id="ability-abilityName" placeholder="Fireball">

    <label for="ability-abilityDesc">Ability Description:</label>
    <textarea id="ability-abilityDesc"></textarea>
</form>
