<div id="page_title" class="fadeout-gradient jsp-global-light-textColor">
    Add a New Loot Item Type
</div>

<div id="forms_container">
    <div class="form_column">
        {{> LootItemTypesFormNew}}
    </div>
</div>