<h1>Add a new loot item</h1>

<form>
    <label for="lootItem-lootName">Loot Item Name:</label>
    <input type="text" id="lootItem-lootName" placeholder="{{placeholderItemName}}">

    <label for="lootItem-lootDesc">Loot Item Description:</label>
    <textarea id="lootItem-lootDesc"></textarea>

    <label for="lootItem-lootItemTypeName">Loot Item Type:</label>
    <input list="lootItem-lootItemTypeNames-list" id="lootItem-lootItemTypeName" name="lootItem-lootItemTypeName">
    <datalist id="lootItem-lootItemTypeNames-list">
        {{#each lootItemTypes}}
            <option value="{{lootItemTypeName}}">{{#if equipable}}Equipable{{/if}}</option>
        {{/each}}
    </datalist>

    <label for="lootItem-lootValue">Loot Value (gold):</label>
    <input type="number" min="0" placeholder="1" id="lootItem-lootValue">
</form>
