<div id="page_title" class="fadeout-gradient jsp-global-light-textColor">
    Add a New Monster Ability
</div>

<div id="forms_container">
    <div class="form_column">
        {{> MonstersAbilitiesFormNew}}
    </div>
</div>