<div id="page_title" class="fadeout-gradient">
    Add a New Monster
</div>

<div id="forms_container">
    <div class="form_column">
        {{> MonstersFormNew}}

        <div class="form_column two_column">
            <div id="abilities_column">
            </div>
            <div id="lootItems_column">
            </div>
        </div>
    </div>
</div>
