<div id="page_title" class="fadeout-gradient">
    Add a New Quest
</div>

<div id="forms_container">
    <div class="form_column">
        {{> QuestsFormNew}}
    </div>
    <div class="form_column">
        {{> MonstersFormNew}}

        <div class="form_column two_column">
            <div id="abilities_column">
                {{> AbilitiesFormNew}}
            </div>
            <div id="lootItems_column">
                {{> LootItemsFormNew}}
            </div>
        </div>
    </div>
</div>

