<div id="page_title" class="fadeout-gradient">Content not found</div>

<div id="card_container">
    <div class="card quest">
        <div class="title">
            Nope
        </div>
        <div class="description">
            Nothing to see here.
        </div>
        <div class="giver">
            Error 404
        </div>
    </div>
</div>

