<script src="/cards.js" defer></script>

<div id="page_title" class="fadeout-gradient jsp-global-light-textColor">
    {{> (whichPartialTitle)}}
</div>

<div class="info_band">
    {{> (whichPartialInfoBand)}}
</div>

<div id="detail_container">
    {{#if questId}}
        {{> QuestsCard}}
    {{/if}}

    {{#unless monsterId}}
        {{#if lootId}}
            {{> LootItemsCard}}
        {{/if}}
    {{/unless}}

    {{#if monsterId}}
        {{> MonstersCard}}
    {{/if}}

    {{#unless monsterId}}
        {{#if abilityId}}
            {{> AbilitiesCard}}
        {{/if}}
    {{/unless}}

<!--         In two columns if there is a monster       -->
    {{#if monsterId}}
    <div class="two_column">
        <div id="abilities_column">
            {{#if abilitiesList}}
                {{#each abilitiesList}}
                    {{> AbilitiesCard}}
                {{/each}}
            {{/if}}
        </div>

        <div id="lootItems_column">
            {{#if lootItemsList}}
                {{#each lootItemsList}}
                    {{> LootItemsCard}}
                {{/each}}
            {{/if}}
        </div>
    </div>
    {{/if}}

</div>