<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/MonstersInfoBandTemplate.js" defer></script>
<script src="/cards.js" defer></script>

<div id="page_title" class="fadeout-gradient jsp-global-light-textColor">{{queryName}}</div>

<div id="card_container">
    {{> NewEntityCard newEntityContext}}
    {{#each results}}
        {{> (whichPartialCard) }}
    {{/each}}
</div>
