body {
    margin: 0;
}

#modal_animationSwitch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
}

#card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#logo_container {
    display: flex;
    align-items: center;

    padding-left: 24px;

    font-family: Helvetica;
    font-size: 48px;

    height: 80px;
}

#nav_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#forms_container {
    display: flex;

    margin: 0;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#detail_container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button_container {
    display: flex;
    justify-content: space-around;
}

#page_title {
    display: flex;
    align-items: center;

    padding: 12px 24px;

    font-family: Helvetica;
    font-size: 36px;
}

.page_subtitle {
    margin-left: 24px;

    color: #aaa;

    font-size: 24px;
    font-style: italic;
}

.info_band {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: 8px;

    font-size: 18px;

    background-color: #fff;
}

.nav {
    font-family: Helvetica;

    font-style: italic;

    margin: 8px;
    padding: 8px;
    border-radius: 6px;
}
.nav:hover {
    scale: 105%;
}

.card {
    margin: 10px;
    padding-bottom: 15px;

    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    min-width: 300px;
    max-width: 300px;
}
.card:hover {
    scale: 102%;
}
.card_subtitle {
    margin-left: 24px;

    color: #fff;

    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
}
.full {
    min-width: 40%;
    max-width: 40%;
}
button {
    margin: 4px;

    border: none;
    border-radius: 8px;

    min-width: 20%;
    max-width: 30%;

    height: 30px;
}
button:hover {
    cursor: pointer;
    font-weight: bold;
}

.card>.title {
    font-family: Helvetica;
    font-size: x-large;
    font-weight: bold;

    padding: 10px;
    margin: 0;

    border-bottom: #0a0909 1px solid;
}
.description>.stats {
    font-family: serif;
    text-align: center;

    margin-bottom: 10px;
}
.card .description {
    font-family: sans-serif;

    min-height: 20px;

    margin: 10px;
}
.card>.giver {
    font-style: italic;
    text-align: end;
    padding: 10px;
}

.add {
    display: flex;
    flex-wrap: wrap;

    /*width: 100%;*/
    margin: 20px;
    padding: 20px;

    /*border: #fff solid 2px;*/
    border-radius: 20px;

    font-family: Helvetica;
    font-size: 24px;
}
.add>input, .add>textarea {
    font-size: 18px;

    width: 90%;
    padding: 6px;

    border-radius: 10px;
}
.form_card {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    line-height: 40px;

    min-width: 700px;
    max-width: 700px;

    /*background-color: #b6f6e8;*/

    border: #fff solid 1px;
    border-radius: 40px;
}
.form_column.two_column {
    display: flex;
    justify-content: space-between
}
.form_column.two_column .form_card {
    min-width: 340px;
    max-width: 340px;
}
.form_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form_section>div {
    max-width: 30%;
}

.add_form {
    position: relative;
    color: #fff;

    border-radius: 100%;

    font-size: 40px;

    width: 40px;
    height: 40px;
    margin-bottom: -65px;

    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    text-align: center;
}
.add_form.ability {
    top: -60px;
    right: -5px;
}
.add_form.loot {
    top: -60px;
    left: 445px;
}
.add_form:hover {
    scale: 102%;
}

/*
 Theme Name:     Share Checklist
 Theme URI:      https://wordpress.org/themes/wp-bootstrap-starter/
 Description:    A child theme of the WPBS Theme
 Author:         Longhorn Consulting
 Author URI:     https://longhorn.consulting
 Template:       wp-bootstrap-starter
 Version:        1.0.0
*/
.animate-text-gradient {
    background: linear-gradient(90deg, #066903 1.32%, #1acd29 100.03%);
    background: -webkit-linear-gradient(90deg, #066903 1.32%, #1acd29 100.03%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.animate-background-gradient {
    background: linear-gradient(90deg, #036956 1.32%, #1acdb8 100.03%);
    background: -webkit-linear-gradient(90deg, #036956 1.32%, #1acdb8 100.03%);
}

.fadeout-gradient {
    background: linear-gradient(0deg, #010701 1.32%, rgba(255, 255, 255, 0) 100.03%);
    background: -webkit-linear-gradient(0deg, #010701 1.32%, rgba(255, 255, 255, 0) 100.03%);
}

.static:hover {
    /*border: #020118 2px solid;*/
    scale: 100%;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
    scale: 0;
}

/* BEGIN palette generated by /src/style.js */

.jsp-global-dark-backgroundColor { background-color: #0b0206; }
.jsp-global-dark-textColor { color: #0b0206; }
.jsp-global-dark-thinBorderColor { border: #0b0206 solid 1px; }
.jsp-global-dark-thickerBorderColor { border: #0b0206 solid 2px; }
.jsp-global-medium-backgroundColor { background-color: #2c1b47; }
.jsp-global-medium-textColor { color: #2c1b47; }
.jsp-global-medium-thinBorderColor { border: #2c1b47 solid 1px; }
.jsp-global-medium-thickerBorderColor { border: #2c1b47 solid 2px; }
.jsp-global-light-backgroundColor { background-color: #dccae9; }
.jsp-global-light-textColor { color: #dccae9; }
.jsp-global-light-thinBorderColor { border: #dccae9 solid 1px; }
.jsp-global-light-thickerBorderColor { border: #dccae9 solid 2px; }
.jsp-global-black-backgroundColor { background-color: #171718; }
.jsp-global-black-textColor { color: #171718; }
.jsp-global-black-thinBorderColor { border: #171718 solid 1px; }
.jsp-global-black-thickerBorderColor { border: #171718 solid 2px; }
.jsp-global-white-backgroundColor { background-color: #e5e3ea; }
.jsp-global-white-textColor { color: #e5e3ea; }
.jsp-global-white-thinBorderColor { border: #e5e3ea solid 1px; }
.jsp-global-white-thickerBorderColor { border: #e5e3ea solid 2px; }
.jsp-logo-dark-backgroundColor { background-color: #030b02; }
.jsp-logo-dark-textColor { color: #030b02; }
.jsp-logo-dark-thinBorderColor { border: #030b02 solid 1px; }
.jsp-logo-dark-thickerBorderColor { border: #030b02 solid 2px; }
.jsp-logo-medium-backgroundColor { background-color: #308c2a; }
.jsp-logo-medium-textColor { color: #308c2a; }
.jsp-logo-medium-thinBorderColor { border: #308c2a solid 1px; }
.jsp-logo-medium-thickerBorderColor { border: #308c2a solid 2px; }
.jsp-logo-light-backgroundColor { background-color: #5fc252; }
.jsp-logo-light-textColor { color: #5fc252; }
.jsp-logo-light-thinBorderColor { border: #5fc252 solid 1px; }
.jsp-logo-light-thickerBorderColor { border: #5fc252 solid 2px; }
.jsp-quest-dark-backgroundColor { background-color: #33122a; }
.jsp-quest-dark-textColor { color: #33122a; }
.jsp-quest-dark-thinBorderColor { border: #33122a solid 1px; }
.jsp-quest-dark-thickerBorderColor { border: #33122a solid 2px; }
.jsp-quest-medium-backgroundColor { background-color: #7a2786; }
.jsp-quest-medium-textColor { color: #7a2786; }
.jsp-quest-medium-thinBorderColor { border: #7a2786 solid 1px; }
.jsp-quest-medium-thickerBorderColor { border: #7a2786 solid 2px; }
.jsp-quest-light-backgroundColor { background-color: #E99ff4; }
.jsp-quest-light-textColor { color: #E99ff4; }
.jsp-quest-light-thinBorderColor { border: #E99ff4 solid 1px; }
.jsp-quest-light-thickerBorderColor { border: #E99ff4 solid 2px; }
.jsp-monster-dark-backgroundColor { background-color: #420a10; }
.jsp-monster-dark-textColor { color: #420a10; }
.jsp-monster-dark-thinBorderColor { border: #420a10 solid 1px; }
.jsp-monster-dark-thickerBorderColor { border: #420a10 solid 2px; }
.jsp-monster-medium-backgroundColor { background-color: #ed3046; }
.jsp-monster-medium-textColor { color: #ed3046; }
.jsp-monster-medium-thinBorderColor { border: #ed3046 solid 1px; }
.jsp-monster-medium-thickerBorderColor { border: #ed3046 solid 2px; }
.jsp-monster-light-backgroundColor { background-color: #f2949f; }
.jsp-monster-light-textColor { color: #f2949f; }
.jsp-monster-light-thinBorderColor { border: #f2949f solid 1px; }
.jsp-monster-light-thickerBorderColor { border: #f2949f solid 2px; }
.jsp-ability-dark-backgroundColor { background-color: #0c2240; }
.jsp-ability-dark-textColor { color: #0c2240; }
.jsp-ability-dark-thinBorderColor { border: #0c2240 solid 1px; }
.jsp-ability-dark-thickerBorderColor { border: #0c2240 solid 2px; }
.jsp-ability-medium-backgroundColor { background-color: #264d60; }
.jsp-ability-medium-textColor { color: #264d60; }
.jsp-ability-medium-thinBorderColor { border: #264d60 solid 1px; }
.jsp-ability-medium-thickerBorderColor { border: #264d60 solid 2px; }
.jsp-ability-light-backgroundColor { background-color: #6fc2bf; }
.jsp-ability-light-textColor { color: #6fc2bf; }
.jsp-ability-light-thinBorderColor { border: #6fc2bf solid 1px; }
.jsp-ability-light-thickerBorderColor { border: #6fc2bf solid 2px; }
.jsp-loot-dark-backgroundColor { background-color: #544018; }
.jsp-loot-dark-textColor { color: #544018; }
.jsp-loot-dark-thinBorderColor { border: #544018 solid 1px; }
.jsp-loot-dark-thickerBorderColor { border: #544018 solid 2px; }
.jsp-loot-medium-backgroundColor { background-color: #d1c25a; }
.jsp-loot-medium-textColor { color: #d1c25a; }
.jsp-loot-medium-thinBorderColor { border: #d1c25a solid 1px; }
.jsp-loot-medium-thickerBorderColor { border: #d1c25a solid 2px; }
.jsp-loot-light-backgroundColor { background-color: #f7f0b5; }
.jsp-loot-light-textColor { color: #f7f0b5; }
.jsp-loot-light-thinBorderColor { border: #f7f0b5 solid 1px; }
.jsp-loot-light-thickerBorderColor { border: #f7f0b5 solid 2px; }
.jsp-new-dark-backgroundColor { background-color: #062120; }
.jsp-new-dark-textColor { color: #062120; }
.jsp-new-dark-thinBorderColor { border: #062120 solid 1px; }
.jsp-new-dark-thickerBorderColor { border: #062120 solid 2px; }
.jsp-new-medium-backgroundColor { background-color: #2cb2a2; }
.jsp-new-medium-textColor { color: #2cb2a2; }
.jsp-new-medium-thinBorderColor { border: #2cb2a2 solid 1px; }
.jsp-new-medium-thickerBorderColor { border: #2cb2a2 solid 2px; }
.jsp-new-light-backgroundColor { background-color: #8fe2ed; }
.jsp-new-light-textColor { color: #8fe2ed; }
.jsp-new-light-thinBorderColor { border: #8fe2ed solid 1px; }
.jsp-new-light-thickerBorderColor { border: #8fe2ed solid 2px; }
.jsp-view-dark-backgroundColor { background-color: #150423; }
.jsp-view-dark-textColor { color: #150423; }
.jsp-view-dark-thinBorderColor { border: #150423 solid 1px; }
.jsp-view-dark-thickerBorderColor { border: #150423 solid 2px; }
.jsp-view-medium-backgroundColor { background-color: #644ac7; }
.jsp-view-medium-textColor { color: #644ac7; }
.jsp-view-medium-thinBorderColor { border: #644ac7 solid 1px; }
.jsp-view-medium-thickerBorderColor { border: #644ac7 solid 2px; }
.jsp-view-light-backgroundColor { background-color: #a794f0; }
.jsp-view-light-textColor { color: #a794f0; }
.jsp-view-light-thinBorderColor { border: #a794f0 solid 1px; }
.jsp-view-light-thickerBorderColor { border: #a794f0 solid 2px; }

/* END palette generated by /src/style.js */


.editable {
    background-color: #fff;
    color: #000;

    font-weight: normal;
    font-style: italic;
}